<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Twitter</servlet-name>
        <servlet-class>TwitterPackage.Twitter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>TwitterPackage.GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>TwitterPackage.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>TwitterPackage.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TweetsServlet</servlet-name>
        <servlet-class>TwitterPackage.TweetsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>TwitterPackage.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Twitter</servlet-name>
        <url-pattern>/Twitter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/GetImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TweetsServlet</servlet-name>
        <url-pattern>/TweetsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
